#usertop h4{
    color: aliceblue;
    padding-left: 3%;
    font-weight: 700;
}

#usertop h5{
    color: aliceblue;
    padding-left: 3%;
    font-weight: 600;
}

#userlist1 {
    padding-left: 3%;
}

#userlist1 th {
    background-color: rgb(116, 219, 188);
    border: solid 1px; 
    width: 350px;
    font-weight: 600;
    
}

#userlist1 td {
    background-color: aliceblue;
    border: solid 1px;
    padding-left: 1%;
    font-weight: 700;
}

#return{
    padding-left: 3%;
}
